@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  position: relative;
}

/* Text-Size - Start */
.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

/* Text-Size - End */

/* Background-Color-Start */
.bg-EEEEEE {
  background-color: #EEEEEE;
}

.bg-008f06 {
  background-color: #008f06;
}

.bg-f44336 {
  background-color: #f44336;
}

.bg-00C7BE {
  background-color: #008CFF;
}

.bg-F6F6F6 {
  background-color: #F6F6F6;
}

.bg-F5EEFF {
  background-color: #F5EEFF;
}

.bg-EFFFFE {
  background-color: #DEF0FF;
}

.bg-FFF6F6 {
  background-color: #FFF6F6;
}

.bg-F0F5F6 {
  background-color: #F0F5F6;
}

.bg-4FD1C5 {
  background-color: #008CFF !important;
}

.bg-E84D4D {
  background-color: #E84D4D !important;
}

.bg-E4FFFD {
  background-color: #E5F3FF !important;
}

.bg-F5F5F5 {
  background-color: #F5F5F5;
}

.bg-FFF0F0 {
  background-color: #FFF0F0;
}

.bg-F6FFFE {
  background-color: #E5F3FF;
}

.bg-FAFAFA {
  background-color: #FAFAFA;
}

.bg-F2F2F7 {
  background-color: #F2F2F7;
}

/* Background-Color-End */

/* Text-Color-Start */
.text-445B64 {
  color: #000000;
}

.text-445B64-img {
  color: #000000 !important;
}
.text-445B64R {
  color: #445B64 !important;
}

.text-00C7BE {
  color: #008CFF;
}

.text-515151 {
  color: #515151;
}

.text-01A99A {
  color: #008CFF !important;
}

.text-E84D4D {
  color: #E84D4D;
}

.text-0D161A {
  color: #0D161A !important;
}

/* Text-Color-End */

.mh-100vh {
  min-height: 100vh;
}

.w-60px {
  width: 60px;
}

.w-110px {
  width: 110px;
}

/* SignIn - CSS - Start */
.sign-main-container {
  height: 100vh;
}

.sign-logo {
  width: 170px;
}

.sign-left-bg {
  background-image: url('./assets/images/signLeftImg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sign-btn,
.theme-btn {
  background-color: #008CFF !important;
  border: 1px solid #008CFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  color: #FFFFFF !important;
  padding: 12px;
}

/* .sign-btn:hover {
  border: 1px solid #008CFF;
  color: #008CFF;
  background-color: #FFFFFF;
} */

.sign-page .form-control {
  border: 1px solid #EEEEEE;
  box-shadow: none;
  padding: 12px;
}

.form-control:focus,
.form-select:focus {
  border-color: #008CFF;
  box-shadow: none;
}

.form-switch .form-check-input {
  width: 2.8em;
  height: 1.4em;
  margin-right: 7px;
}

.form-switch .form-check-input:focus {
  box-shadow: none;
}

.form-switch {
  display: flex;
  align-items: center;
}

.form-check-input:checked {
  background-color: #008CFF;
  border-color: #008CFF;
  box-shadow: 0px -2px 4px 0px #00598680 inset !important;
  box-shadow: 0px 2px 4px 0px #DEF4FF80 inset !important;

}

.otp-input {
  width: 50px;
  height: 50px;

}

/* SignIn - CSS - End */

/* Header - CSS - Start */
.header {
  border-bottom: 1px solid #F0F5F6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #FFFFFF;
}

.header-icon {
  width: 45px;
  height: 45px;
  border: 1px solid #F0F5F6;
  background: #F8FDFF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #008CFF;
}

/* Header - CSS - End */

/* Sidebar - CSS - Start */
.sidebar {
  width: 15.3%;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 80px !important;
}

@media only screen and (min-width:1200px) and (max-width:1400px) {
  .sidebar {
    width: 14.8%;
  }
}

.sidebar .nav-link {
  color: #000000;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #E5F3FF;
  color: #000000;

  .sidebar-icon {
    background: #008CFF;

    svg path {
      fill: #FFFFFF;
    }
  }
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3.5px 5.5px 0px #00000005;
}

.sidebarSupport {
  background-image: url('./assets/images/sidebarSupportBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.offcanvas-body .sidebar {
  padding-top: 0 !important;
  min-height: 86vh;
}

/* Sidebar - CSS - End */


/* Home - CSS - Start */

.new-cheque-form,
.modal-body {
  .form-label {
    font-size: 14px;
    color: #000000;
  }

  .form-control,
  .form-select {
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #DEE6E9;
    background: #F0F5F6;
    color: #000000;
  }

  .inputFile {
    border: 1px dashed #D7D7D7;
    background: #E5F3FF;
  }
}

.dashboard-page {

  .nav-pills .nav-link {
    color: #000000;
    background-color: transparent;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    color: #008CFF;
    background-color: #DEF0FF;
  }
}

/* Home - CSS - End */


/* Main-Content - CSS - Start */
.main-content {
  padding-top: 60px;

  .table-circular-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #DEE6E9;
    color: #000000;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    th {
      color: #000000 !important;
      font-weight: normal;
      padding: 10px;
    }

    td {
      color: #0D161A;
      font-weight: 500;
      padding: 10px;
    }

    th,
    th i,
    td,
    td i {
      vertical-align: middle;
      font-size: 14px;
    }
  }

  .table-checkbox {
    width: 20px;
    height: 20px;
    box-shadow: rgb(204, 219, 232) 0px -1px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 0px 0px inset;
    border-radius: 5px !important;
    border: #DEE6E9;
  }

  .pagination {
    .page-link {
      color: #000000DE;
      background-color: transparent;
    }

    .page-link:focus {
      box-shadow: none;
    }

    .active>.page-link,
    .page-link.active {
      z-index: 3;
      color: #FFFFFF;
      background-color: #008CFF;
    }

    .disabled>.page-link,
    .page-link.disabled {
      color: #818181de !important;
      background-color: transparent;
    }
  }
}

/* Main-Content - CSS - End */